{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    
    <h1>This is my home page!</h1>
    <h3>Hello</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Iure ipsum libero quas quam iusto rerum praesentium explicabo architecto recusandae voluptatum aliquam, consequuntur vitae. 
        Sapiente iusto voluptatem perferendis! Recusandae, possimus quod.</p>
    
    <form>
        <label>Enter your name!</label>
        <input type="text">

        <label>Enter your favorite color!</label>
        <input type="text">

        <input type="submit">
    </form>
{% endblock %}